/* Container Utama */
.checkemail-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Bagian Kiri */
.checkemail-left {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: radial-gradient(circle at top right, rgba(40, 161, 95, 1) 0%, transparent 40%), radial-gradient(circle at bottom left, rgba(106, 24, 188, 1) 0%, transparent 40%), #123DAF;
    color: white;
    position: relative;
    overflow: hidden;
}

.branding-checkemail {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.branding-checkemail .logo {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
}

.branding-checkemail .tagline {
    font-size: 40px;
    font-weight: 600;
    max-width: 400px;
    color: white;
}

/* Bagian Kanan */
.checkemail-right {
  flex: 1;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
}

.checkemail-image {
  width: 220px;
  margin-bottom: 20px;
}

.checkemail-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #222;
}

.checkemail-text {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 38px;
    color: #444;
}

.checkemail-button {
    background: #123DAF;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 69px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.checkemail-button:hover {
  background: #0036c7;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .checkemail-container {
    flex-direction: column;
  }

  .checkemail-left,
  .checkemail-right {
    flex: none;
    width: 100%;
    height: 50vh;
  }

  .checkemail-title {
    font-size: 22px;
  }

  .checkemail-heading {
    font-size: 20px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .checkemail-container {
    flex-direction: column;
    height: auto;
  }

  .checkemail-left {
    padding: 1.5rem;
    height: auto;
  }

  .checkemail-title {
    font-size: 20px;
  }

  .checkemail-right {
    padding: 2rem 1rem;
  }

  .checkemail-image {
    width: 150px;
  }

  .checkemail-text {
    font-size: 14px;
    padding: 0 1rem;
  }

  .checkemail-button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }
}
